<div class="">
  <ul>
    {{#each model.lista as |item|}}
      <li class="item">
        {{item-list item = item}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="">
    {{input type="text" value = newItem placeholder="Nombre"}}
    <button type="button"{{action 'agregar'}}>Agregar</button>
</div>
{{outlet}}
